*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
