.meal-tile-border {
  border: 1px solid #000;
}

.ingredient-form {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
.hidden {
    display: none
}

.field-separator {
    margin-bottom: 10px;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-responsive {
  overflow: auto;
  max-height: 1000px;
}

.col-name {
    width: 18% !important;
}

.col-other {
    width: 12% !important;
}

.manual-striped {
  background-color: rgba(0,0,0,.05);
}

.manual-hover:hover {
  background-color: rgba(0,0,0,.10);
}