{% extends 'base.html' %}

{% load static %}

<style>
    .arrow-up,
    .arrow-down {
        font-size: 8px;
    }
    .custom-button {
     font-size: 8px;
    }
</style>

{% block content %}

<h2><strong>My Added Products</strong></h2>     <!-- # User fooditems -->
<div class="table-container">
<table id="food-table-user">
  <thead>
    <tr>
      <th onclick="sortTable(0)">
        Name
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(1)">
        Calories
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(2)">
        Carbohydrates
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(3)">
        Fats
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(4)">
        Proteins
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(5)">
        Glycemic Index
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(6)">
        Glycemic Load
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>

  {% for item in user_items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.kcal }}</td>
      <td>{{ item.carbohydrates }}</td>
      <td>{{ item.fats }}</td>
      <td>{{ item.proteins }}</td>
      <td>{{ item.glycemic_index }}</td>
      <td>{{ item.glycemic_load }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<h2><strong>Default Products List</strong></h2>     <!-- # Default, database fooditems -->
<div class="table-container">
<table id="food-table-default">
  <thead>
    <tr>
      <th onclick="sortTable(0)">
        Name
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(1)">
        Calories
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(2)">
        Carbohydrates
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(3)">
        Fats
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(4)">
        Proteins
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(5)">
        Glycemic Index
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th onclick="sortTable(6)">
        Glycemic Load
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>

  {% for item in public_items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.kcal }}</td>
      <td>{{ item.carbohydrates }}</td>
      <td>{{ item.fats }}</td>
      <td>{{ item.proteins }}</td>
      <td>{{ item.glycemic_index }}</td>
      <td>{{ item.glycemic_load }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<script src="{% static 'js/foodItemList.js' %}"></script>

{% endblock %}