{% extends 'base.html' %}

{% load static %}

<style>
    .arrow-up,
    .arrow-down {
        font-size: 8px;
    }
    .custom-button {
     font-size: 8px;
    }
</style>

{% block content %}

<script src defer="{% static 'js/foodItemList.js' %}"></script>

<div style="display: flex; align-items: center;">
  <h2 style="margin-right: auto;"><strong>My Added Products</strong></h2>
  <a href="{% url 'fooditem_add' %}" class="add-button">
    <i class="fas fa-plus"></i>
    Add Product
  </a>
</div>
     <!-- # User fooditems -->
<div class="table-container">
<table id="food-table-user">
  <thead>
    <tr>
      <th data-column-index="0" onclick="sortTable('food-table-user', this)">
        Name
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="1" onclick="sortTable('food-table-user', this)">
        Calories
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="2" onclick="sortTable('food-table-user', this)">
        Carbohydrates
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="3" onclick="sortTable('food-table-user', this)">
        Fats
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="4" onclick="sortTable('food-table-user', this)">
        Proteins
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="5" onclick="sortTable('food-table-user', this)">
        Glycemic Index
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="6" onclick="sortTable('food-table-user', this)">
        Glycemic Load
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>

  {% for item in user_items %}
    <tr>
      <td>
        {{ item.name }}
          <button class="btn btn-sm custom-button delete-button" onclick="deleteFoodItem({{ item.id }})">
            <i class="fas fa-trash"></i>
          </button>
      </td>
      <td>{{ item.kcal }}</td>
      <td>{{ item.carbohydrates }}</td>
      <td>{{ item.fats }}</td>
      <td>{{ item.proteins }}</td>
      <td>{{ item.glycemic_index }}</td>
      <td>{{ item.glycemic_load }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<h2><strong>Default Products List</strong></h2>     <!-- # Default, database fooditems -->
<div class="table-container">
<table id="food-table-default">
  <thead>
    <tr>
      <th data-column-index="0" onclick="sortTable('food-table-default', this)">
        Name
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="1" onclick="sortTable('food-table-default', this)">
        Calories
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="2" onclick="sortTable('food-table-default', this)">
        Carbohydrates
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="3" onclick="sortTable('food-table-default', this)">
        Fats
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="4" onclick="sortTable('food-table-default', this)">
        Proteins
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="5" onclick="sortTable('food-table-default', this)">
        Glycemic Index
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
      <th data-column-index="6" onclick="sortTable('food-table-default', this)">
        Glycemic Load
        <button class="btn btn-sm custom-button">
          <i class="fas fa-arrow-up"></i>
          <i class="fas fa-arrow-down"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>

  {% for item in public_items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.kcal }}</td>
      <td>{{ item.carbohydrates }}</td>
      <td>{{ item.fats }}</td>
      <td>{{ item.proteins }}</td>
      <td>{{ item.glycemic_index }}</td>
      <td>{{ item.glycemic_load }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>



{% endblock %}