{% extends 'base.html' %}

{% block content %}
<h1>Food Log</h1>

<form method="post">
    {{ daily_requirements_form.as_p }}
    <button type="submit" name="submit_daily_requirements">Aktualizuj wymagania</button>
    {% csrf_token %}
</form>


<form method="post">
    {% csrf_token %}
    {{ date_form.as_p }}  <!-- Formularz wyboru daty -->
    <input type="submit" name="submit_date" value="Wybierz datę">
</form>

<!-- Formularz dodawania FoodItem -->
<form method="post">
    {% csrf_token %}
    {{ fooditem_form.as_p }}
    <input type="submit" name="submit_fooditem" value="Dodaj FoodItem">
</form>

<form method="post">
    {% csrf_token %}
    {{ meal_form.as_p }}
    <button type="submit" name="submit_meal">Dodaj Meal</button>
</form>


    <h2>Selected Date: {{ selected_date|date:"F j, Y" }}</h2>

    <h3>Total Macros:</h3>
    <ul>
        <li>Total Calories: {{ total_macros.log_total_kcal }}</li>
        <li>Total Carbohydrates: {{ total_macros.log_total_carbohydrates }}</li>
        <li>Total Fats: {{ total_macros.log_total_fats }}</li>
        <li>Total Proteins: {{ total_macros.log_total_proteins }}</li>
    </ul>

    <h2>Food Consumed Today</h2>
<ul>
    {% for log_item in food_log_items %}
        <li>{{ log_item.food_item.name }} - Quantity: {{ log_item.quantity }}</li>
        <a href="{% url 'food_log_item_delete' log_item.id %}">Usuń</a>
    {% endfor %}
</ul>

{% endblock %}