{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/accounts_styles.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script defer src="{% static 'accounts/js/foodLog.js' %}"></script>

<div class='py-4 mt-auto'>
    <div class='container-fluid px-4'>
        <div class='row justify-content-center'>
            <div class='col-xl-12'>
                <div class='row'>
                    <div class='col-md-6 mt-4'>

                        <!-- Date Form -->
                        <div class='card mb-3'>
                            <div class='card-header'>
                                <h5>Food Log</h5>
                            </div>
                            <div class='card-body'>
                                <form method="post">
                                    {{ date_form.as_p }}
                                    <button type="submit" name="submit_date" class='btn btn-primary'>Select Date</button>
                                    {% csrf_token %}
                                </form>
                            </div>
                        </div>

                        <!-- Food Log Item Form -->
                        <div class='card mb-3'>
                            <div class='card-header'>
                                <h5>Select food or meal to add to the Food Log (in g)</h5>
                            </div>
                            <div class='card-body'>
                                <form method="post" class="form-group row">
                                    {% csrf_token %}
                                    <div class="col-8">
                                        {{ fooditem_form.food_item|as_crispy_field }}
                                    </div>
                                    <div class="col-2">
                                        {{ fooditem_form.quantity|as_crispy_field }}
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" name="submit_fooditem" class='btn btn-primary'>Add Food</button>
                                    </div>
                                </form>
                                <form method="post" class="form-group row">
                                    {% csrf_token %}
                                    <div class="col-8">
                                        {{ meal_form.meal|as_crispy_field }}
                                    </div>
                                    <div class="col-2">
                                        {{ meal_form.quantity|as_crispy_field }}
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" name="submit_meal" class='btn btn-primary'>Add Meal</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Food Log Display -->
                        <div class='card mb-3'>
                            <div class='card-header'>
                                <h5>Food Consumed Today - {{ selected_date|date:"F j, Y" }}</h5>
                            </div>
                            <div class='card-body'>
                                <table id='foodlogtable' class='table table-hover'>
                                        <tr>
                                            <td>Log Item</td>
                                            <td>Grams</td>
                                            <td>Calories</td>
                                            <td>Carbohydrates</td>
                                            <td>Fats</td>
                                            <td>Proteins</td>
                                            <td>Glycemic Load</td>
                                            <td></td>
                                        </tr>
                                    <tbody>
                                        <tr style="font-weight: bold;">
                                            <th>Total</th>
                                            <th>{{ total_macros.log_total_quantity |intcomma }}</th>
                                            <th data-calories="{{ total_macros.log_total_kcal }}">{{ total_macros.log_total_kcal |intcomma }}</th>
                                            <th data-carbohydrates="{{ total_macros.log_total_carbohydrates }}">{{ total_macros.log_total_carbohydrates }}</th>
                                            <th data-fats="{{ total_macros.log_total_fats }}">{{ total_macros.log_total_fats }}</th>
                                            <th data-proteins="{{ total_macros.log_total_proteins }}">{{ total_macros.log_total_proteins }}</th>
                                            <th>{{ total_macros.log_total_glycemic_load }}</th>
                                            <th></th>
                                         </tr>
                                    {% for log_item in food_log_items %}
                                        <tr>
                                            <td>{{ log_item.get_name }}</td>
                                            <td>{{ log_item.quantity |intcomma }}</td>
                                            <td>{{ log_item.get_calories |intcomma }}</td>
                                            <td>{{ log_item.get_carbohydrates }}</td>
                                            <td>{{ log_item.get_fats }}</td>
                                            <td>{{ log_item.get_proteins }}</td>
                                            <td>{{ log_item.get_glycemic_load }}</td>
                                            <td>
                                                <a class='btn btn-danger' href="{% url 'food_log_item_delete' log_item.id %}">
                                                    <i class='fas fa-trash-alt'></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class='col-md-6 mt-4'>

                        <div class='card mb-3'>
                            <div class='card-header'>
                                <h5>Daily Requirements</h5>
                            </div>
                            <div class='card-body'>
                                <form method="post", id="id_goals">

                                    <!-- Calories -->
                                    <hr class="mt-4 mb-4">
                                    <h6>Calories</h6>
                                    <div class="row mb-4">
                                        <div class="col-md-9"> <!-- 3/4 for progress bar -->
                                            <div class='progress' style="height: 40px;">
                                                <div
                                                    id='calorieProgressBar'
                                                    class='progress-bar progress-bar-striped progress-bar-animated'
                                                    role='progressbar'
                                                    aria-valuenow='50'
                                                    aria-valuemin='0'
                                                    aria-valuemax='100'
                                                    style='width: 0%; font-size: 25px;'
                                                >0%</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3"> <!-- 1/4 for input field -->
                                            {{ daily_requirements_form.calories|as_crispy_field }}
                                        </div>
                                    </div>

                                    <!-- Carbohydrates -->
                                    <hr class="mt-4 mb-4">
                                    <h6>Carbohydrates</h6>
                                    <div class="row mb-4">
                                        <div class="col-md-9">
                                            <div class='progress' style="height: 40px;">
                                                <div
                                                    id='carbohydratesProgressBar'
                                                    class='progress-bar progress-bar-striped progress-bar-animated'
                                                    role='progressbar'
                                                    aria-valuenow='50'
                                                    aria-valuemin='0'
                                                    aria-valuemax='100'
                                                    style='width: 0%; font-size: 25px;'
                                                >0%</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            {{ daily_requirements_form.carbohydrates|as_crispy_field }}
                                        </div>
                                    </div>

                                    <!-- Fats -->
                                    <hr class="mt-4 mb-4">
                                    <h6>Fats</h6>
                                    <div class="row mb-4">
                                        <div class="col-md-9">
                                            <div class='progress' style="height: 40px;">
                                                <div
                                                    id='fatsProgressBar'
                                                    class='progress-bar progress-bar-striped progress-bar-animated'
                                                    role='progressbar'
                                                    aria-valuenow='50'
                                                    aria-valuemin='0'
                                                    aria-valuemax='100'
                                                    style='width: 0%; font-size: 25px;'
                                                >0%</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            {{ daily_requirements_form.fats|as_crispy_field }}
                                        </div>
                                    </div>

                                    <!-- Proteins -->
                                    <hr class="mt-4 mb-4">
                                    <h6>Proteins</h6>
                                    <div class="row mb-4">
                                        <div class="col-md-9">
                                            <div class='progress' style="height: 40px;">
                                                <div
                                                    id='proteinsProgressBar'
                                                    class='progress-bar progress-bar-striped progress-bar-animated'
                                                    role='progressbar'
                                                    aria-valuenow='50'
                                                    aria-valuemin='0'
                                                    aria-valuemax='100'
                                                    style='width: 0%; font-size: 25px;'
                                                >0%</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            {{ daily_requirements_form.proteins|as_crispy_field }}
                                        </div>
                                    </div>
                                    <hr class="mt-4 mb-4">
                                    <div class="text-right">
                                        <button type="submit" name="submit_daily_requirements" class='btn btn-primary'>Update requirements</button>
                                    </div>
                                    {% csrf_token %}
                                </form>
                            </div>
                        </div>


                        <!-- Macros Display -->
                        <div class='card mb-3'>
                            <div class='card-header'>
                                <h5>Macronutrients Breakdown</h5>
                            </div>
                            <div class='card-body'>
                                <div class='chart-pie pt-4'>
                                    <canvas id='myPieChart'></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="{% static 'django_select2/django_select2.js' %}"></script>
{% endblock %}

