{% extends 'base.html' %}

{% block content %}
<h1>Food Log</h1>

    <!-- Formularz do wyboru daty -->
    <form method="post">
        {% csrf_token %}
        {{ date_form.as_p }}
        <button type="submit">Wybierz datę</button>
    </form>

    <!-- Wyświetlanie makroskładników -->
    {% if total_macros %}
        <h2>Makroskładniki</h2>
        <p>Kalorie: {{ total_macros.log_total_kcal }}</p>
        <p>Węglowodany: {{ total_macros.log_total_carbohydrates }} g</p>
        <p>Tłuszcze: {{ total_macros.log_total_fats }} g</p>
        <p>Białko: {{ total_macros.log_total_proteins }} g</p>
    {% endif %}

    <!-- Formularz do dodawania FoodItem -->
    <form method="post">
        {% csrf_token %}
        {{ food_item_form.as_p }}
        <button type="submit">Dodaj FoodItem</button>
    </form>

{% endblock %}