{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}GLTracker | Register{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mt-3">
                <div class="card-header">
                    <div class='d-flex justify-content-center'>
                        <h2>Register</h2>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block mt-3">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}